/* Fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open-Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-back-transparent-10: rgba(0, 0, 0, 0.1);
  --basic-back-transparent-30: rgba(0, 0, 0, 0.3);
  --basic-back-transparent-60: rgba(0, 0, 0, 0.6);

  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-grey-darker: #DCDCDC;

  --basic-white: #ffffff;
  --basic-white-transparent-30: rgba(255, 255, 255, 0.3);
  --basic-white-transparent-70: rgba(255, 255, 255, 0.7);

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  padding-top: 40px;
  align-content: start;
}

.page-header {
  margin: 0 auto;
  padding: 0 40px;
}


/* container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}


/* button */

.button {
  position: relative;
  z-index: 1;

  padding-top: 9px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 9px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button::before {
  position: absolute;
  z-index: -1;
  top: 16px;
  right: 0;

  width: 100%;
  height: 8px;

  content: '';

  background-color: var(--special-yellow-dark);
  transition: all 0.2s ease-in;
}

.button:hover::before {
  top:0;
  height: 100%;
}

.button:active {
  color: var(--basic-back-transparent-30);
}

/* header */

.main-header {
  position: relative;

  width: 1160px;
  min-height: 186px;
  padding-top: 44px;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 60px;

  background-color: var(--special-yellow-light);

  box-sizing: border-box;
}

.main-header__logo {
  position: absolute;
  top: -20px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}


/* main-nav */

.main-nav {
  display: grid;
  grid-template-rows: min-content min-content;
}

.user-menu-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

.search-form {
  display: flex;
  max-width: 440px;
}

.search-form__input {
  width: 100%;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 38px;
  background-color: transparent;
  border: none;
}

.search-form__input::placeholder {
  color: var(--basic-back-transparent-30);
  line-height: 20px;
}

.search-form__input:hover {
  color: var(--basic-back-transparent-60);
}

.search-form__input:focus {
  color: var(--basic-black);
}

.search-form__button {
  display: none;

  line-height: 20px;
  text-transform: uppercase;

  border: 2px solid var(--basic-black);
  background-color: transparent;
  opacity: 0;
  visibility: hidden;

  cursor: pointer;
  box-sizing: border-box;
}

.search-form__input:focus ~ .search-form__button {
  opacity: 1;
  visibility: visible;
}

.search-form__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.search-form__button:active {
  color: var(--basic-white-transparent-30);
  background-color: var(--basic-black);
  opacity: 1;
}

.search-form__button:active {
  opacity: 1;
  visibility: visible;
}

/* user-menu */

.user-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-self: end;
  width: 500px;
  margin: 0;
  padding: 0;

  text-align: end;
  list-style: none;
}

.user-menu--authorization {
  grid-template-columns: auto 1fr auto 1fr;
}

.user-menu__item {
  display: flex;
  text-align: start;
}

.user-menu__item:nth-last-child(2) {
  grid-column: 3 / 4;
  justify-self: end;
}

.user-menu__item:last-child {
  grid-column: 4 / 5;
  justify-self: end;
}

.user-menu__item--hidden {
  display: none;
}

.user-menu__link {
  padding-left: 25px;
  line-height: 20px;
}

.main-nav .user-menu__logout {
  padding-left: 20px;
  color: var(--basic-back-transparent-30);
}

.main-nav a {
  color: var(--basic-black);
}

.main-nav a:hover {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.main-nav__list {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  display: flex;
}

.main-nav__item:last-child {
  text-align: end;
  margin-right: -0.2em;
}

.main-nav__item:nth-child(2) {
  padding-left: 10px;
}

.main-nav__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-nav__item:first-child .main-nav__link {
  letter-spacing: 0.1em;
}

/* sub-menu */

.sub-menu {
  min-width: 530px;
  flex-direction: column;
}

.sub-menu__list {
  display: none;
  grid-template-columns: auto auto max-content;
  column-gap: 40px;
  min-width: 530px;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 42px;
  margin-left: 0;
  padding: 0;

  list-style: none;
  background-color: var(--special-yellow-light);
}

.sub-menu:hover .sub-menu__list {
  display: grid;
}

.sub-menu__item {
  display: flex;
  margin-bottom: 16px;
}

.sub-menu__item:last-child {
  grid-column: 1 / 1;
  margin-bottom: 0;
}

.sub-menu__link {
  font: inherit;
  line-height: 20px;
}

/* page-main */

.page-main__header {
  width: 1240px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 40px;

  box-sizing: border-box;
}

.page-main__title {
  margin-top: 44px;
  margin-bottom: 30px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumb */

.breadcrumb {
  display: flex;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumb__item {
  display: flex;
  margin-right: 40px;
}

.breadcrumb__item:last-child {
  margin-right: 0;
}

.breadcrumb__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);

  opacity: 0.3;
}

.breadcrumb__link:hover {
  opacity: 0.6;
}

.breadcrumb__link:active {
  opacity: 0.1;
}

/* promo slider */

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.slider__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider__description {
  font: inherit;
  line-height: 20px;
}

.parameters__value td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.parameters__name td {
  font: inherit;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.slider__control {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* popular */

.popular {
  padding-top: 20px;
}

.popular__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__link,
.popular__link:hover {
  color: var(--basic-black);
}

.popular__link:active {
  color: var(--basic-back-transparent-30);
}

.popular__link:active .popular__image {
  opacity: .3
}


.popular-image-wrapper {
  display: flex;
  height: 160px;
  margin: 0;

  background-color: var(--special-yellow-light);
}

.popular-image-wrapper:hover,
.popular-image-wrapper:active {
  background-color: var(--special-yellow-dark);
}

.popular__image {
  margin: auto;
}

.popular__name {
  margin-top: 38px;
  margin-bottom: 20px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.popular__item:nth-child(4) .popular__name {
  letter-spacing: normal;
}

/* service */

.service {
  background-color: var(--basic-grey-light);
}

.service-slider-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 2fr;
}

.service__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service__description {
  margin: 0;
  padding: 0;

  list-style: none;
}

.service__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service__link:active {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}

.service__link--active {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}

.service__description {
  font: inherit;
  letter-spacing: 0.1em;
}

/* partners */

.partners {
  margin-top: 90px;
  margin-bottom: 90px;
}

.partners__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners__item {
  position: relative;
}

.partners__item:hover .partners-logo-wrapper {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.partners__item::before {
  position: absolute;

  width: 100%;
  height: 100%;

  content: '';

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.partners__item:nth-child(1)::before {
  background-image: url(../img/logo-1.png);
}
.partners__item:nth-child(2)::before {
  background-image: url(../img/logo-2.png);
}
.partners__item:nth-child(3)::before {
  background-image: url(../img/logo-3.png);
}
.partners__item:nth-child(4)::before {
  background-image: url(../img/logo-4.png);
}

.partners-logo-wrapper {
  display: flex;
  margin: 0;
  opacity: 0;
}

/* about-us */

.about-company-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-us__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.delivery-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.delivery-item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* contacts */

.contacts__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

/* catalog */

.catalog {
  overflow-x: hidden;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: auto 2fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}

.catalog__products {
  position: relative;
}

.filter {
  position: relative;

  min-width: 328px;
  padding-left: 60px;

  background-color: var(--basic-grey-light);
  box-sizing: border-box;
}

.filter::before {
  position: absolute;
  top:0;
  right: 268px;
  z-index: 1;

  width: 100vw;
  height: 100%;

  content: '';

  background-color: var(--basic-grey-light);
}


.filter__title {
  position: relative;

  margin: 0;
  padding: 25px 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: var(--basic-grey-darker);
}

.filter__title::before {
  position: absolute;
  top: 0;
  right: 268px;
  z-index: 1;

  width: 100vw;
  height: 100%;

  content: '';

  background-color: var(--basic-grey-darker);
}

/* sort */

.sort {
  position: relative;

  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
  padding-left: 72px;

  background-color: var(--basic-grey-light);

}

.sort::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 100%;

  width: 100vw;
  height: 100%;

  content: '';

  background-color: var(--basic-grey-light);
}

.sort__title {
  margin: 0;
  padding: 25px 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 74px;
  padding: 0;

  list-style: none;
}

.sort__item {
  margin-right: 30px;
}
.sort__item:last-child {
  margin-right: 0;
}

.sort__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);

  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__link--active {
  opacity: 1;
}

.sort__buttons-list {
  display: flex;
  justify-content: space-between;
  width: 52px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__button {
  display: block;
  width: 18px;
  height: 18px;

  background-image: url('../img/decor/icon-up-dir.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sort__button--up {
  opacity: 0.2;
}

.sort__button--up:hover {
  opacity: 0.4;
}

.sort__button--down {
  transform: rotate(180deg);
}

.sort__button--down:hover {
  opacity: 0.4;
}

.sort__button--up:active,
.sort__button--down:active {
  opacity: 1;
}

/* products */

.products {
  padding: 70px 0 78px 72px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-image-wrapper {
  position: relative;
  display: flex;
}

.products__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.products__link {
  width: 275px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.products__price {
  margin: 0;

  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: end;
}

.products-wrapper-button {
  position: absolute;
  top: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--basic-white-transparent-70);
}

.products__item {
  margin-bottom: 8px;
}

.products__item:hover .products-wrapper-button {
  display: flex;
}

.button-add-cart {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 13px;
}

.button-add-compare {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: var(--basic-black);

  opacity: 0.5;

  cursor: pointer;
}

.button-add-compare:hover {
  opacity: 1;
}

.button-add-compare:active {
  opacity: 0.2;
}

/* pagination */

.pagination {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  margin-top: 32px;

  background: #EBEBEB;
}

.pagination a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  min-width: 85px;
  margin: 0;
  padding: 0;
  justify-self: center;

  list-style: none;
}

.pagination__item {
  display: flex;
  margin-right: 30px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__link {
  opacity: 0.3;
}

.pagination__link:hover {
  opacity: 0.6;
}

.pagination__link:active {
  opacity: 1;
}

.pagination__link--current {
  opacity: 1;
}

.pagination__prev,
.pagination__next {
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
}

.pagination__prev:hover,
.pagination__next:hover {
  background-color: #D9D9D9;
}

.pagination__prev:active,
.pagination__next:active {
  color: var(--basic-back-transparent-30);
}

/* footer */

.main-footer {
  padding-top: 46px;
  padding-bottom: 65px;

  background-color: var(--basic-dark);
}

.main-footer__user-menu {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content 1fr;
  margin-bottom: 40px;
}

.logo--footer {
  display: flex;
  grid-column: 1 / 2;
}

.user-menu--footer {
  grid-template-columns:  auto auto 1fr 1fr;;
  grid-column: 2 / 3;
  order: -1;
  width: 325px;
}

.user-menu--footer.user-menu--authorization {
  width: 480px;
}

.user-menu--footer a {
  color: var(--basic-white);
  opacity: 0.7;
}

.user-menu--footer a:hover {
  opacity: 1;
}

.user-menu--footer a:active {
  opacity: 0.3;
}


/* main-footer__info */

.main-footer__info {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-bottom: 67px;
}

.main-footer__adress {
  margin: 0;
  line-height: 20px;
  color: var(--basic-white);
}

.main-footer__phone {
  order: 1;

  text-align: end;
  line-height: 20px;
  color: var(--basic-white);
}

/* footer-nav */

.footer-nav {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 423px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  display: flex;
}

.footer-nav__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-nav__link:hover {
  opacity: 0.6;
}

.footer-nav__link:active {
  opacity: 0.3;
}

/* social */

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social__list {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 3;
  justify-self: center;
  width: 136px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  opacity: 0.6;
}

.social__link:hover {
  opacity: 0.3;
}

.social__link:active {
  opacity: 0.1;
}

/* copyright-link */

.copyright-link {
  text-align: end;
}

.copyright-link:hover {
  opacity: 0.6;
}

.copyright-link:active {
  opacity: 0.3;
}
