/* Fonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('Open-Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy Light'), local('Gilroy-Light'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy Extra Bold'), local('Gilroy-Extra-Bold'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;

  --status: #f6dada;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* button */

.button {
  position: relative;
  z-index: 1;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);

  background-color: transparent;
  border: none;

  cursor: pointer;

}

.button::before {
  position: absolute;
  z-index: -1;
  top: 33%;
  width: 100%;
  height: 8px;

  content: '';

  background-color: var(--special-yellow-dark);
  transition: all 0.2s ease-in-out;
}

.button:hover::before {
  top:0;
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* header */

.main-header {
  background-color: var(--special-yellow-light);
}

/* logo */

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}


/* main-nav */

.user-menu__item--hidden {
  display: none;
}

.main-nav a {
  color: var(--basic-black);
}

.main-nav a:hover {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.search-form__input {
  background-color: transparent;
}

.search-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  line-height: 20px;
}

.search-form__input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus {
  color: var(--basic-black);
}

.search-form__button {
  line-height: 20px;
  text-transform: uppercase;

  border: 2px solid var(--basic-black);
  background-color: transparent;
  opacity: 0;
  visibility: hidden;

  cursor: pointer;
}

.search-form__input:focus ~ .search-form__button {
  opacity: 1;
  visibility: visible;
}

.search-form__button:hover {
  color: var(--basic-white);
  background-color: var(--basic-black);
}


.search-form__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--basic-black);
  opacity: 1;
}

.search-form__button:active {
  opacity: 1;
  visibility: visible;
}

.main-nav__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sub-menu__list {
  display: none;
}

.sub-menu:hover .sub-menu__list {
  display: block;
}


.sub-menu__link {
  font: inherit;
  line-height: 20px;
}

/* page-main */

.page-main__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* breadcrumb */

.breadcrumb__link {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);

  opacity: 0.3;
}

.breadcrumb__link:hover {
  opacity: 0.6;
}

.breadcrumb__link:active {
  opacity: 0.1;
}


/* promo slider */

.slider__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slider__description {
  font: inherit;
  line-height: 20px;
}

.parameters__value td {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.parameters__name td {
  font: inherit;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

/* popular */

.popular__link,
.popular__link:hover {
  color: var(--basic-black);
}

.popular__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-image-wrapper {
  background-color: var(--special-yellow-light);
}

.popular-image-wrapper:hover,
.popular-image-wrapper:active {
  background-color: var(--special-yellow-dark);
}

.popular__link:active .popular__image {
  opacity: .3
}

.popular__name {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

/* service */

.service {
  background-color: var(--basic-grey-light);
}

.service__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.service__link:active,
.service__link:focus {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}

.service__link--active {
  background-color: var(--basic-black);
  color: var(--special-yellow-light);
}

.service__description {
  font: inherit;
  letter-spacing: 0.1em;
}

/* partners */

/* about */

.about__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.delivery-item {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

/* contacts */

.contacts__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

/* catalog */

.catalog__filter {
  background-color: var(--basic-grey-light);
}

.catalog__filter h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background-color: #DCDCDC;
}

/* sort */

.sort {
  background-color: var(--basic-grey-light);
}

.sort__title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);

  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort__link--active {
  opacity: 1;
}

.sort__button {
  display: block;
  width: 18px;
  height: 18px;

  background-image: url(../img/icon-up-dir.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sort__button--up {
  opacity: 0.2;
}

.sort__button--up:hover {
  opacity: 0.4;
}

.sort__button--down {
  transform: rotate(180deg);
}

.sort__button--down:hover {
  opacity: 0.4;
}

.sort__button--up:active,
.sort__button--down:active {
  opacity: 1;
}

/* products */

.products__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

.products__price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.products-wrapper-button {
  display: none;
}

.products__item:hover .products-wrapper-button {
  display: block;
}

.button-add-compare {
  background-color: transparent;
  border: none;
  opacity: 0.5;

  cursor: pointer;
}

.button-add-compare:hover {
  opacity: 1;
}

.button-add-compare:active {
  opacity: 0.2;
}

/* paginator */

.paginator {
  background: #EBEBEB;
}

.paginator a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
}

.paginator__page {
  opacity: 0.3;
}

.paginator__page:hover {
  opacity: 0.6;
}

.paginator__page:active {
  opacity: 1;
}

.paginator__page--current {
  opacity: 1;
}

.paginator__prev:hover,
.paginator__next:hover {
  background-color: #D9D9D9;
}

.paginator__prev:active,
.paginator__next:active {
  color: rgba(0, 0, 0, 0.3);
}

/* footer */

.main-footer {
  background-color: var(--basic-dark);
}

.user-menu--footer a {
  color: var(--basic-white);
  opacity: 0.7;
}

.user-menu--footer a:hover {
  opacity: 1;
}

.user-menu--footer a:active {
  opacity: 0.3;
}

/* main-footer__info */

.main-footer__adress {
  color: var(--basic-white);
}

.main-footer__phone {
  color: var(--basic-white);
}

/* footer-nav */

.footer-nav__link {
  font-family: 'Gilroy', Arial, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-nav__link:hover {
  opacity: 0.6;
}

.footer-nav__link:active {
  opacity: 0.3;
}

/* social */

.social__link {
  opacity: 0.6;
}

.social__link:hover {
  opacity: 0.3;
}

.social__link:active {
  opacity: 0.1;
}

.copyright-link:hover {
  opacity: 0.6;
}

.copyright-link:active {
  opacity: 0.3;
}
